<!DOCTYPE html>
<html ng-app="rokkerlabs">
<head>
    <link rel="stylesheet" href="../static/css/grid.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/sidenav.css">
    <link rel="stylesheet" href="../static/css/item.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
</head>
<body>

<div class="topnav responsive">
    <div class="brand">
        <img class="logo-img" src="../static/images/logo.png">
    </div>
    <a class="right" href="#about">Admin name <i class="fa fa-cog"></i></a>
</div>

<div class="page-main">
    <div class="openbtn" onclick="openNav()"><i class="fa fa-chevron-right fa-lg"></i></div>

    <div id="mySidenav" class="sidenav open">
        <a href ><i class="fa fa-line-chart"></i> Analytics</a>
        <a href ><i class="fa fa-newspaper-o"></i> News</a>
        <a href ><i class="fa fa-hacker-news"></i> Board Brief</a>
        <a href ><i class="fa fa-briefcase"></i> Briefcase</a>
        <br>
        <hr>
        <a href="javascript:void(0)" onclick="closeNav()"><i class="fa fa-chevron-left"></i> Close menu</a>
    </div>

    <div class="page-content">
        <div class="flex-grid-thirds" ng-controller="newsController" ng-init="init();">
            <div class="col" ng-repeat="new in news">
                <div class="item">
                    <div class="item-info">
                        <span class="name">{{new.name}}</span>
                        <span class="date">{{new.date}}</span>
                    </div>
                    <div class="item-title">
                        {{new.title}}
                    </div>

                    <div class="item-image" ng-if="new.picture">
                        <img ng-src="{{new.picture}}">
                    </div>

                    <div class="item-content">
                        <p>{{new.content}}</p>
                    </div>
                    <div class="item-footer">
                        <div class="flex-grid-thirds">
                            <div class="col brief footer-btn" style="margin: 0; padding: 0;"><i class="fa fa-briefcase"></i></div>
                            <div class="col likes footer-btn" style="margin: 0; padding: 0;"><i class="fa fa-thumbs-up"></i> {{new.likes}}</div>
                            <div class="col share footer-btn" style="margin: 0; padding: 0;"><i class="fa fa-share"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").classList.add('open');
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").classList.remove('open');
    }

</script>


<script type="text/javascript" src="../bower_components/angular/angular.js"></script>

<script type="text/javascript" src="modules/main/app.module.js"></script>


<script type="text/javascript" src="modules/news/news.module.js"></script>
<script type="text/javascript" src="modules/news/newsData.service.js"></script>
<script type="text/javascript" src="modules/news/news.controller.js"></script>




</body>
</html>