
$break-small: 768px;
$break-large: 1200px;


body{
  background-color: #f5f5fa;
  height: 100%;
}

.page-main{
  position: relative;
  padding: 10px;
  height: auto;
  overflow: hidden;
}

.page-content{
  overflow: hidden;
  margin-left: 264px;
}




.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 33%;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

* {
  box-sizing: border-box;
}

.flex-grid {
  margin: 0 0 20px 0;
}
.col {
  padding: 5px;
}
