.item{
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #e7e7ed;
}

.item > .item-info{
  margin: 10px 10px;
}

.item >.item-info > .name{
  font-size: 12px;
  font-weight: 600;
  color: #5c9df5;
}

.item > .item-info > .date{
  font-size: 11px;
  line-height: 1.45;
  text-align: right;
  color: #b9b9b9;
  float: right;
}


.item > .item-title{
  margin: 15px 10px;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: #3c454c;
}

.item > .item-image img {
  width: 100%;
  max-width: 100%;
}

.item > .item-content{
  font-size: 14px;
  text-align: left;
  color: #666666;
  margin: 10px 10px;
}


.item > .item-footer{
  border-top: solid thin #ccc;
  width: 100%;
  padding: 10px 10px;
  color: #c0c8d1;
}


.likes{
  text-align: center;
}

.share{
  text-align: right;
}

.footer-btn{
  cursor:pointer;
}

.footer-btn:hover{
  color: #505357;
}