
body {margin:0;}

.topnav {
  overflow: hidden;
  height: 61px;
  background-color: #2f323a;
  float: left;
  width: 100%;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 33px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.36;
}

.topnav a:hover {
  background-color: #1e2025;
  color: #ffffff;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.brand{
  width: 264px;
  height: 60px;
  align-content: center;
  background-color: #1e2025;
  position:relative;
}

.logo-img{
  max-width: 169px;
  width: 169px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.right {
  position:absolute;
  right: 5px;
  top: 0;
  margin: auto;
}