/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  background-color: #2f323a;
}

.sidenav.open {
  width: 264px;
}


/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}


/* The navigation menu links */
.sidenav a i {
  margin-right: 10px;
  font-size: smaller;
  color: rgba(39, 106, 255, 0.74);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  margin-left: 50px;
  color: white;
}

.openbtn{
  position: fixed;
  top: 70px;
  left: 10px;
  color: white;
  cursor: pointer;
  display:inline-block;
  border:1px solid rgba(75, 75, 75, 0.78);
  background: rgba(57, 57, 57, 0.87);
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  vertical-align:middle;
  max-width: 100px;
  padding: 5px;
  text-align: center;
}

.sidenav .closebtn {
  display: none;
}

.sidenav.open .openbtn {
  display: none;
}

.sidenav.open .closebtn {
  display: block;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 600px) {
  .openbtn{
    top: 200px;
  }
}
